<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head">
</head>
<body>

<div class="container">
    <form action="/add" th:action="@{add}" method="post">

        <label for="name">Event title</label>
        <input id="name" name="name" placeholder="Event name" type="text" value="" /><br/>

        <label for="date">Date</label>
        <input id="date" name="date" placeholder="Event date" type="date" value="" /><br/>

        <label for="description">Description</label>
        <input id="description" name="description" placeholder="Event description" type="text" value="" /><br/>

        <label for="category">Category</label>
        <select name="category" id="category">
            <option th:each="category : ${categories}"
                    th:id="${category.id}"
                    th:value="${category.id}"
                    th:text="${category.name}">
            </option>
        </select><br/>

        <label for="link">Link</label>
        <input id="link" name="link" placeholder="Event link" type="text" value="" /><br/>

        <button name="submit" type="submit" id="submit">ADD</button>
    </form>
</div>

<div th:replace="footer :: footer"></div>

</body>
</html>