<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head">
</head>
<body>

<div class="container">
    <form th:action="edit" method="post">
        <label for="name">Event title</label>
        <input id="name" name="name" type="text" th:value="${event.name}"/><br/>

        <label for="date">Date</label>
        <input id="date" name="date" placeholder="Event date" type="date" th:value="${event.date}"/><br/>

        <label for="description">Description</label>
        <input id="description" name="description" placeholder="Event description" type="text"
               th:value="${event.description}"/><br/>

        <label for="category">Category</label>
        <select th:field="${event.category.id}" name="category" id="category">
            <option th:each="category : ${categories}"
                    th:id="${category.id}"
                    th:value="${category.id}"
                    th:text="${category.name}">
            </option>
        </select><br/>

        <label for="link">Link</label>
        <input id="link" name="link" placeholder="Event link" type="text" th:value="${event.link}"/><br/>

        <button name="submit" type="submit" id="submit">Edit</button>
    </form>
</div>

<div th:replace="footer :: footer"></div>

</body>
</html>